<footer class="footer">
    <div class="footer-content">
        <ul class="footer-links">
            <li><a href="#">찾아오시는 길</a></li>
            <li><a href="#">개인정보처리방침</a></li>
            <li><a href="#">문의하기</a></li>
            <li><a href="#">열린 신고 제도</a></li>
        </ul>
        <div class="footer-social">
            <a href="#">Blog</a>
            <a href="#">YouTube</a>
            <a href="#">Instagram</a>
            <a href="#">Facebook</a>
            <a href="#">LinkedIn</a>
        </div>
    </div>
    <div class="footer-bottom">
        © 2025 HARMLESS, Inc. All rights reserved.
    </div>
</footer>