<nav class="navbar">
    <div class="navbar-logo"><a href="{% url 'home' %}">HARMLESS</a></div>
    <ul class="navbar-menu">
        <li class="menu-item">
            <a href="{% url 'company_introduction' %}">About</a>
            <ul class="submenu">
                <li><a href="{% url 'company_introduction' %}">회사소개</a></li>
                <li><a href="{% url 'vision' %}">비전</a></li>
                <li><a href="{% url 'people' %}">인물소개</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="{% url 'product_introduction' %}">Product</a>
            <ul class="submenu">
                <li><a href="{% url 'product_introduction' %}">제품소개</a></li>
                <li><a href="{% url 'purchase' %}">구매하기</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="{% url 'customer_board' %}">Assistance</a>
            <ul class="submenu">
                <li><a href="{% url 'customer_board' %}">기술소개</a></li>
                <li><a href="{% url 'technology' %}">특허</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="{% url 'Funding' %}">Funding</a>
            <ul class="submenu">
                <li><a href="{% url 'Funding' %}">펀딩 현황</a></li>
                <li><a href="{% url 'Funding' %}">펀딩하러 가기기</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="{% url 'login' %}">Login</a>
        </li>
    </ul>
</nav>